$text-black: rgb(45, 45, 45);
$text-dark-black: rgb(34, 34, 34);

$medium-screen-max-width: 1024px;
$small-screen-max-width: 600px;
$header-height: 100px;
$header-height-small-screen: 80px;
$header-height-reduction: 15px;

$ing-yellow: rgb(254, 199, 61);
$lab-red: rgb(161, 29, 39);
$res-blue-body: rgb(20, 52, 92);
$res-blue-footer: rgb(37, 100, 139);
$sol-green-body: rgb(135, 201, 122);
$sol-brown-footer: rgb(233, 215, 198);
$sol-brown-text: rgb(96, 56, 19);

$dev: false;